# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage
/.nyc_output
/test/__snapshots__
/test/report.html

# Production
/build
.env
.env.*
pids
*.pid
*.seed
*.log

# Diagnostics
*.tgz

# Miscellaneous
.DS_Store
Thumbs.db

.env